adaface_ros/adaface_ros/script/embed/
adaface_ros/adaface_ros/script/video/
adaface_ros/adaface_ros/script/pretrained/
.vscode/
adaface_ros/adaface_ros/script/face_alignment/__pycache__/
adaface_ros/adaface_ros/script/__pycache__/
adaface_ros/adaface_ros/script/face_alignment/mtcnn_pytorch/src/__pycache__/
adaface_ros/adaface_ros/script/face_alignment/mtcnn_pytorch/src/align_trans.py
adaface_ros/adaface_ros/script/face_dataset/test/mincheol.jpg
adaface_ros/adaface_ros/script/face_dataset/test/minha.jpg
adaface_ros/adaface_ros/script/face_dataset/test/yeonju.jpg
adaface_ros/adaface_ros/script/face_dataset/test/woosung.jpg
adaface_ros/adaface_ros/script/face_dataset/test/hyunwoo.jpg
